{# Ancho de columna EXPLÍCITO en cada celda #}
<table class="box grades {{ margen }}">
    <colgroup>
        <col style="width: 42%;"><col style="width: 7%;"><col style="width: 19%;"><col style="width: 6%;"><col style="width: 9%;"><col style="width: 9%;"><col style="width: 8%;">
    </colgroup>
    <tr><td colspan="7" class="b c anio-tit">{{ anio.nombre }} AÑO</td></tr>
    <tr>
        <td rowspan="2" width="42%" class="b c">ÁREAS DE FORMACIÓN</td>
        <td colspan="2" width="26%" class="b c">CALIFICACIÓN</td>
        <td rowspan="2" width="6%" class="b c">T-E</td>
        <td colspan="2" width="18%" class="b c">FECHA</td>
        <td rowspan="2" width="8%" class="b c">Inst. Educ.</td>
    </tr>
    <tr>
        <td width="7%" class="b c">Nº</td>
        <td width="19%" class="b c">LETRAS</td>
        <td width="9%" class="b c">Mes</td>
        <td width="9%" class="b c">Año</td>
    </tr>
    {% for fila in anio.filas %}
    <tr>
        <td width="42%" class="area">{{ fila.area }}</td>
        <td width="7%" class="c">{% if fila.num != '' %}{{ fila.num }}{% else %}*****{% endif %}</td>
        <td width="19%" class="c letras">{% if fila.num != '' %}{{ fila.letras }}{% else %}****************{% endif %}</td>
        <td width="6%" class="c">{% if fila.num != '' %}F{% else %}****{% endif %}</td>
        <td width="9%" class="c">{% if fila.num != '' %}{{ anio.mes }}{% else %}****{% endif %}</td>
        <td width="9%" class="c">{% if fila.num != '' %}{{ anio.ano }}{% else %}****{% endif %}</td>
        <td width="8%" class="c">{% if fila.num != '' %}01{% else %}****{% endif %}</td>
    </tr>
    {% endfor %}
</table>
